/*  Project page setup flex box as column to evenly space sections */
.content-projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 50px);
  background-color: white;
  & > h1 {
    margin-top: 5vh;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 8vw 5px 8vw;
    border-bottom: 2px solid black;
  }
}
/* ******************************************************************************* */

/*  First row of projects */
.content-projects-items-bin-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;

  /*  When the project is hovered on, display the div that contains description and links */
  .content-projects-one:hover {
    .content-projects-live {
      opacity: 1;
      transition: 500ms;
    }
  }

  .content-projects-two:hover {
    .content-projects-live {
      opacity: 1;
      transition: 500ms;
    }
  }

  /*  Styling for each item in the first row of projects*/
  & > div {
    width: 30vw;
    height: 30vh;
    margin: 10px;
    position: relative;

    .project-img-one {
      border-radius: 20px;
      background-image: linear-gradient(to right, #6b11cba1 0%, #2574fc94 100%),
        url('../../images/projectOne.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    .project-img-two {
      border-radius: 20px;
      background-image: linear-gradient(to right, #6b11cba1 0%, #2574fc94 100%),
        url('../../images/projectTwo.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    // this is the name for the project
    .project-description {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: center;
      color: white;
      & > h1 {
        font-size: 400%;
      }
      & > h3 {
        transform: translateY(20px);
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
    // this is the div that is activated on hover --> contains brief description + links to project
    .content-projects-live {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      color: white;
      border-radius: 20px;
      opacity: 0;
      transition: 500ms;
      & > h4 {
        width: 80%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 25px;
        margin-top: 10px;
      }

      & > div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        & > a {
          color: white;
          width: 40%;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-self: center;
          padding: 9px;
          border: 2px solid #00ffff;
          border-radius: 500px;
          transition: 500ms;
          margin-bottom: 10px;
          &:hover {
            background-color: #00ffff;
            transition: 500ms;
          }
        }
      }
    }
  }
}
/* ******************************************************************************* */

/*  Second row of projects */
.content-projects-items-bin-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;

  /*  Styling for each item in the second row of projects*/
  & > div {
    width: 30vw;
    height: 30vh;
    margin: 10px;
    position: relative;

    .project-img {
      border-radius: 20px;
      background-image: linear-gradient(to right, #6b11cba1 0%, #2574fc94 100%),
        url('../../images/projectOne.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    .project-description {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: center;
      color: white;
      & > h1 {
        font-size: 400%;
      }
      & > h3 {
        transform: translateY(20px);
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}
/* ******************************************************************************* */

/* End of desktop viewport styling */
/* ******************************************************************************* */
@media screen and (max-width: 960px) {
  // change both the first and second bin from 3 items in the row to 1 item
  .content-projects-items-bin-one {
    flex-direction: column;
    & > div {
      width: 80vw;
    }
  }
  .content-projects-items-bin-two {
    flex-direction: column;
    & > div {
      width: 80vw;
    }
  }
  /* ******************************************************************************* */
}
/* End of mobile viewport styling */
/* ******************************************************************************* */
