/*  Styling for overall desktop navbar  */
.navbar-items {
  height: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.navbar-items.active {
  height: 55px;
  transition: 0.5s ease-in-out;
}

.navbar-background {
  opacity: 0;
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.navbar-background.active {
  opacity: 1;
  transition: all 1s;
}
/* ******************************************************************************* */

/* Styling for all components of the left side of the navbar */
.navbar-left {
  grid-column: 1;
  color: #000;
  margin-left: 20px;
  justify-self: start;
  cursor: pointer;
  position: absolute;
  left: 0;
  letter-spacing: 1px;
}
.navbar-left > i {
  margin-right: 10px;
}

.fab {
  margin: 10px;
}
/* ******************************************************************************* */

/* Styling for all components of the right side of the navbar */
.navbar-right {
  grid-column: 2;
  display: flex;
  right: 20px;
  position: absolute;
}

.nav-right-links-wrapper {
  display: flex;
  list-style: none;
  margin-top: 8px;
}

.nav-links {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.nav-links:hover {
  background-color: #a2eaf7;
  transition: all 0.3s ease-out;
}

.nav-links.home,
.nav-links.about,
.nav-links.projects,
.nav-links.blog {
  background-color: #a2eaf7;
  transition: all 0.3s ease-out;
}
/* ******************************************************************************* */

/* Ensure that the hamburger icon and mobile version of the "Contact" button are disabled */
.nav-links-mobile-button {
  display: none;
}

.mobile-menu-icon {
  display: none;
}
/* ******************************************************************************* */

/* End of desktop viewport styling */
/* ******************************************************************************* */
@media screen and (max-width: 960px) {
  /*  Styling for overall mobile navbar  */
  .navbar-items {
    font-size: 1rem;
    height: 80px;
    position: relative;
  }

  .navbar-items.active {
    height: 80px;
  }

  .navbar-background {
    opacity: 1;
  }
  /* ******************************************************************************* */

  /* adjusted styling for all components of the left side of the navbar */
  .fab {
    margin: 4px;
  }
  /* ******************************************************************************* */

  /* adjusted styling for all components of the right side of the navbar */
  .navbar-right {
    position: unset;
  }

  Button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(-120%, 90%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  @keyframes mobile_menu_opening {
    0% {
      transform: translateY(-120%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes mobile_menu_closing {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-120%);
    }
  }

  .nav-right-links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background: #4facfe;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 1;
    margin-top: 0px;
    animation: mobile_menu_closing 0.5s ease-out forwards;
    z-index: -1;
  }

  .nav-right-links-wrapper.active {
    z-index: -1;
    animation: mobile_menu_opening 0.5s ease-in-out forwards;
  }

  .nav-links {
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    margin: 0px;
    display: table;
  }

  .nav-links:hover {
    background-color: #a2eaf7;
    border-radius: 0;
  }

  .nav-links.home,
  .nav-links.about,
  .nav-links.projects,
  .nav-links.blog {
    background-color: #a2eaf7;
    border-radius: 0;
  }

  .nav-links-mobile-button {
    font-size: 1.4rem;
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto 3rem auto;
    border-radius: 10px;
    width: 80%;
    background: #00f2fe;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }

  .nav-links-mobile-button:hover {
    background-color: #fff;
    color: #4facfe;
    transition: all 0.5s ease;
  }
  /* ******************************************************************************* */

  /* End of mobile viewport styling */
  /* ******************************************************************************* */
}
